VITE_SUPABASE_URL=https://pnffavseesuvrvblsdpp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBuZmZhdnNlZXN1dnJ2YmxzZHBwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU1MzY3NzUsImV4cCI6MjEwMTExMjc3NX0.ttHu4Igx_6PmPWOfsugSE7135OCcHAidPahwc0gw3nQ
